@page
@model MigrationsModel
@{
    ViewData["Title"] = "Active migrations";
}

<table>
    <thead>
        <tr style="width: 100%">
            <td class="pl-2 font-weight-bold">Id</td>
            <td class="pl-2 font-weight-bold">Migration StartDate</td>
            <td class="pl-2 font-weight-bold">Source Container</td>
            <td class="pl-2 font-weight-bold">Destination Container</td>
            <td class="pl-2 font-weight-bold text-sm-right">Total #</td>
            <td class="pl-2 font-weight-bold text-sm-right">Migrated #</td>
            <td class="pl-2 font-weight-bold text-sm-right">Completed (%)</td>
            <td class="pl-2 font-weight-bold">ETA</td>
            <td class="pl-2 font-weight-bold text-sm-right">Current rate (items/s)</td>
            <td class="pl-2 font-weight-bold text-sm-right">Avg. rate (items/s)</td>
            <td class="pl-2 font-weight-bold">Statistics updated</td>
            <td />
        </tr>
    </thead>
    <tbody>
        @{

            @foreach (var record in Model.records)
            {
                <tr>
                    <td class="pl-2">@Html.DisplayFor(modelItem => record.Id)</td>
                    <td class="pl-2">@Html.DisplayFor(modelItem => record.StartTime)</td>
                    <td class="pl-2">@Html.DisplayFor(modelItem => record.SourceIdentifier)</td>
                    <td class="pl-2">@Html.DisplayFor(modelItem => record.DestinationIdentifier)</td>
                    <td class="pl-2 text-sm-right">@Html.DisplayFor(modelItem => record.SourceCountSnapshot)</td>
                    <td class="pl-2 text-sm-right">@Html.DisplayFor(modelItem => record.DestinationCountSnapshot)</td>
                    <td class="pl-2 text-sm-right">@Html.DisplayFor(modelItem => record.PercentageCompleted)</td>
                    <td class="pl-2 ">@Html.DisplayFor(modelItem => record.EstimatedTimeToComplete)</td>
                    <td class="pl-2 text-sm-right">@Html.DisplayFor(modelItem => record.CurrentRate)</td>
                    <td class="pl-2 text-sm-right">@Html.DisplayFor(modelItem => record.AvgRate)</td>
                    <td class="pl-2 ">@Html.DisplayFor(modelItem => record.StatisticsLastUpdated)</td>
                    <td class="pl-2 text-sm-right">
                        @using (Html.BeginForm(FormMethod.Post))
                        {
                            @Html.Hidden("id", @record.Id)
                            <input type="submit" value="Complete" name="Complete" asp-page-handler="Complete" />
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>